.tippy-box[data-theme~=twotech]>.tippy-content{font-family:Avenir,Helvetica,Arial,sans-serif;color:#fff!important;background-color:#777!important}
.tippy-box[data-theme~=twotech]{font-family:Avenir,Helvetica,Arial,sans-serif;max-width:400px;perspective:800px;z-index:9998;outline:0;transition-timing-function:cubic-bezier(.165,.84,.44,1)}
.tippy-box[data-theme~=twotech]>.tippy-content{background-color:#555;color:#fff;padding:4px;font-size:.95rem;padding:.4rem .8rem;text-align:center;will-change:transform,opacity;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;pointer-events:none}
.tippy-box[data-theme~=twotech]>.tippy-content[data-theme=light]{background-color:#fff;color:#26323d;box-shadow:0 4px 20px 4px rgba(0,20,60,.1),0 4px 80px -8px rgba(0,20,60,.2)}
.tippy-box[data-theme~=twotech]>.tippy-content[data-theme=transparent]{background-color:rgba(0,0,0,.7)}
.tippy-box[data-theme~=twotech]>.tippy-content[data-animatefill]{background-color:transparent;overflow:hidden}
.tippy-box[data-theme~=twotech]>.tippy-content[data-interactive]{pointer-events:auto}
.tippy-box[data-theme~=twotech]>.tippy-content[data-inertia]{transition-timing-function:cubic-bezier(.53,1,.36,.85)}
@media (max-width:450px){
.tippy-box[data-theme~=twotech]{max-width:96%;max-width:calc(100% - 20px)}
}
.tippy-box[data-theme~=twotech]>.tippy-tooltip[data-theme=light]>.tippy-arrow{border-top-color:#fff}
.tippy-box[data-theme~=twotech]>.tippy-tooltip[data-theme=transparent]>.tippy-arrow{border-top-color:rgba(0,0,0,.7)}
.tippy-box[data-theme~=twotech]>.tippy-tooltip{color:#dcdcdc;}